<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HadaNews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B07D7E81D59A3E00043B486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B07D8011D59A3E00043B486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B07D80C1D59A3E00043B486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
